.show-cover { 
  width : 280px;
  height: 150px; /* could this blcok removed ? */
}
.show-image  { 
  width : 280px;
  height: 150px;

}
.show-container { 
  margin-top: 4rem;
}
.full-page-player{
  position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.hidden{
  visibility: hidden;
}